body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 10px;
    background-color: rgb(216, 237, 245);
    color: black;
}
a {
    text-decoration: none;
    text-align: center;
}
.announcement-text {
    color: white;
}
nav {
    height: 40px;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
    margin: auto;
    background-color: skyblue;
    text-align: center;
}
nav a:hover{
    background-color: rgb(114, 208, 245);
    text-align: center;
    border: solid skyblue;
    width: 100px    ;
    padding: 10px 10px;
    color: blue;
    font-size: 18px;
}
main {
    margin: auto;
    padding: 15px;
}
div{
    padding: 20px 50px;
    gap: 100px;
    display: flex;
    flex-wrap: wrap;
    color: black;
}
.button{
    border: 10px;
    background: rgb(60, 187, 238);
    font-style: italic;
    border-radius: 10px;
}
div.button:hover{
    background-color:skyblue;
    border:none;
    box-shadow: 2px 2px skyblue ;
    color: black;
    transition: 0.2s;
    font-size: 18px;
}
.img {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;

}

/* Form */

/* Footer */

footer {
    width: 100%;
    justify-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 1px 0;
    position: fixed;
    bottom: 0;
    color: black;
    background-color: skyblue;
}

.footer-text {
    color: black;   
}
